*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: bisque;
    background-image: url(https://i.pinimg.com/originals/ed/a5/73/eda5739966cb33768d8ad0d77d7307ce.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.logo-container img{
    height: 200px;
    filter: drop-shadow(5px 5px 5px #222);
    margin-bottom: 40px;
}

.logo-container{
    padding-top: 20px;
}


header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.POKEMONCARD{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 455px;
    margin: 40px;
    border-radius: 25px;
    background-image: url(https://cdn.discordapp.com/attachments/701164137081733201/1001830286461513838/Captura_de_pantalla_2022-07-27_011953_copia_copia.png);
    background-size: cover;
    box-shadow: 2px 2px 12px;
}

.front{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
.POKEMONCARD img{
    height: 200px;
    filter: drop-shadow(5px 5px 5px #222);
}

.POKEMONCARD h2{
    text-transform: uppercase;
}

.pokemon-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 60px;
}

.footer{
    display: flex;
    justify-content: center;
    height: 40px;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: white;
}

.text {
    display: flex;
    font-size: 12px;
    width: 150%;
    justify-content: space-around;
    align-items: center;
    margin: 32px;
}

.image-container {
    margin-bottom: 31px;
    padding-top: 36px;
}

.h3{
    padding-top: 30px;
}

.filter-container img{
    height: 40px;
}


.filter-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px 40px 10px 40px;
    gap: 10px;
    filter: drop-shadow(5px 5px 5px #222);
    background-color: rgb(38, 38, 38);
}

.filter-container button{
    background-color: rgb(255, 0, 0);
    border: solid black 3px;
    padding: 5px 20px 5px 20px;
}

.filter-container button:hover{
    background-color: rgb(71, 71, 71);
}

@media (max-width: 580px) {
    .logo-container img{
        height: 130px;
    }
    .POKEMONCARD{
        width: 246px;
        height: 369px;
    }
    .text{
        margin: 20px;
        padding-bottom: 5px;
    }
    .image-container {
        margin-bottom: 25px;
        padding-top: 0px;
    }
    .POKEMONCARD h2{
        font-size: 14px;
    }
}